{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
       
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <div class="newpage ">
        <h1>Welcome to the Tour</h1>
        <p>This is a simple tour template.</p>
        <p>Feel free to customize it as needed.</p>
    </div>
    <div id="age">
        print my age

    </div>
    <div class="embu"></div>
    <div id="nairobi"></div>
</body>
</html>