{% extends 'base.html' %}
{% load static %}
    <!-- Main Page Content -->
{% block title %}<title>Home</title>{% endblock title %}
{% block content %}
<section class="home">
    <div class="home-section">
        
        <div class="image-content">
            <img src="{% static 'images/t1.avif' %}" alt="hero image" class="hero-image">
            
        </div>
        <div class="text-content">
            <h1>Explore the World</h1>
            <p>Discover new places and create unforgettable memories with our travel agency.</p>
            {% comment %} <a href="{% url 'destination' %}" class="btn">Explore Destinations</a> {% endcomment %}
        </div>
    </div>
</section>

<script src="{% static 'app.js' %}"></script>
{% endblock content %}

    


