{% load static %}
<nav >

    <div class="nav-header">
        <div class="follow">
            <h1>FOLLOW US:</h1>
            <div class="follow-icon">
                {% comment %} use icons {% endcomment %}
                <a href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a>
                <a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
                <a href="https://www.twitter.com/"><i class="fab fa-twitter"></i></a>
            </div>
            <div class="contact-icon">
                <a href="tel:+254757386918"><i class="fas fa-phone-alt"></i></a>
                <a href="24972@student.embuni.ac.ke"><i class="fas fa-envelope"></i></a>
            </div>
           
        </div>
        <div class="login">
            <a href="">Login</a>
        </div>
    </div>
     
    <div class="nav-container">
        <div class="logo">
            <h1><span>W</span>anderers</h1>
        </div>
        <div class="nav-links">
            <ul>
                <li><a href="home">Home</a></li>
                <li><a href="" class="active">About</a></li>
                <li><a href="">Contact</a></li>
                <li><a href="block">Blog</a></li>
                <li><a href="">Gallery</a></li>
            </ul>
        </div>

        <div class="cart-icon">
            <a href=""><i class="fas fa-shopping-cart"></i></a>
            <span class="cart-count">0</span>
        </div>
        <div class="toggle-bar">
            <i class="fas fa-bars"></i>
        
        </div>

    </div>

    
</nav>