{% extends 'base.html' %}

{% block title %}Tour Activities{% endblock %}

{% block content %}
  <h2>Popular Tour Activities</h2>
  <form>
    <label><input type="checkbox" name="activity" value="hiking"> Hiking through scenic trails</label><br>
    <label><input type="checkbox" name="activity" value="wildlife"> Wildlife Safaris</label><br>
    <label><input type="checkbox" name="activity" value="diving"> Scuba Diving and Snorkeling</label><br>
    <label><input type="checkbox" name="activity" value="boating"> Boat Rides and Cruises</label><br>
    <label><input type="checkbox" name="activity" value="cultural"> Cultural Village Tours</label><br>
    <label><input type="checkbox" name="activity" value="camping"> Camping Under the Stars</label><br>
    <label><input type="checkbox" name="activity" value="skydiving"> Skydiving Adventures</label><br>
    <label><input type="checkbox" name="activity" value="biking"> Biking Tours</label><br>
    <label><input type="checkbox" name="activity" value="photography"> Nature Photography</label><br>
    <label><input type="checkbox" name="activity" value="kayaking"> Kayaking</label><br><br>

    <input type="submit" value="Select Activities">
  </form>
{% endblock %}
